<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user_homepage.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>cart</title>
</head>
<body>
    <header>
        <h4 class="logo"> <a href="/user-homepage"> Jamcart </a> </h4>

        <div class="menu">
            <a href="#">
                <img class="cart_logo" src="/images/cart_logo.svg" style="width: 30px;">
            </a>
            <a href="/login">
                <h6>Logout</h6>
            </a>
        </div>
    </header>
    
    <section class="main-display">

        <div class="cart-items">
            <% if( user.cart.length > 0){ %>
                <% var totalPrice=0; %>
                <% user.cart.forEach(( product) => { %>                   
    
                    <% totalPrice= totalPrice + Number(product.price) %>
                    
                    <div class="card" style="width: 10rem;">
                        <img src="<%= product.images %>.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text product-name">
                                <%= product.name %>                            
                            </p>
                            <p class="card-text">
                                Rs <%= product.price %>
                            </p>
                            <button class="btn buy-btn">Buy</button>
                            <form action="/delete-from-cart" method="POST">
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <button class="delete-btn btn" type="submit">Delete</button>
                            </form>
                        </div>
                      </div>
                <% }) %>
            <% }else if( user.cart.length === 0 || user.cart === null){ %>
                <h2 class="no-items-heading"> There are no items added to your cart. </h2>
            <% } %>
        </div>
            
        <% if( user.cart.length > 0){ %>
            <div class="total-purchase">
                <h5>Your total amout is: <span> Rs <%= totalPrice %> </span></h5>
            </div>
        <% } %>

    </section>

</body>
</html>